body {
  --bs-text-primary: #448fff;
  --bs-primary-rgb: 68, 143, 255;
  --bs-text-light: silver;
  --bs-light-rgb: 192, 192, 192;
  --bs-body-bg: #333;
}

div.important {
  background-color: var(--bs-purple);
}

form#newSnippet {
  margin-top: 5vh;
}

textarea#code {
  min-height: 30vh;
}

div.snippets > div {
  position: relative;
  margin: 10px 0 50px;
}

div.snippetHeader {
  display: flex;
  justify-content: space-between;
}


div.snippetAction ul.dropdown-menu li {
  min-width: 3.4rem;
  font-size: 1.75rem;
}

@media screen and (min-width: 576px) {
  div.snippetAction {
    position: absolute;
    right: 21rem;
  }

  div.snippetAction button.dropdown-toggle {
    display: none;
  }

  div.snippetAction ul.dropdown-menu {
    display: flex;
    padding: 0 0.25rem;
  }

  div.snippetAction ul.dropdown-menu li {
    font-size: 1.2rem;
  }
}

div.snippetAction button.dropdown-toggle {
  min-width: 3.75rem;
}

div.snippetAction ul.dropdown-menu {
  min-width: 3.75rem;
}

div.snippetAction button.dropdown-toggle::after {
  display: none;
}

