<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Create snippet | Code Sharing Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{'/style.css'}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{'/bootstrap.min.css'}" href="../static/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{'/icons/bootstrap-icons.css'}" href="../static/icons/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{'/highlight-styles/kimbie-dark.min.css'}" href="../static/highlight-styles/kimbie-dark.min.css">
    
    <script th:src="@{'/highlight.min.js'}" src="../static/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <form action="" th:action="@{/code/new}" method="post" th:object="${newSnippet}">
      <label for="code">Code:</label>
      <br>
      <textarea id="code" th:field="*{code}"></textarea>
      <br><br>
      <label for="time">Time limit:</label>
      <input id="time" th:field="*{time}" type="number">
      <br>
      <label for="views">View limit:</label>
      <input id="views" th:field="*{views}" type="number">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    
    <script th:src="@{'/bootstrap.bundle.min.js'}" src="../static/bootstrap.bundle.min.js"></script>
  </body>
</html>