<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Create snippet | Code Sharing Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{'/style.css'}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{'/bootstrap.min.css'}" href="../static/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{'/icons/bootstrap-icons.css'}" href="../static/icons/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{'/highlight-styles/kimbie-dark.min.css'}" href="../static/highlight-styles/kimbie-dark.min.css">
    
    <script th:src="@{'/highlight.min.js'}" src="../static/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <div class="container-lg">
      <div class="row">
        <div class="col-1"></div>

        <div class="col-10">

          <form id="newSnippet" action="" th:action="@{'/code/new'}" method="post" th:object="${newSnippet}">
            <h1 class="h3 mb-3 text-light fw-normal">Share code snippet</h1>
        
            <div class="form-floating">
              <textarea id="code" th:field="*{code}" class="form-control" placeholder="Your code snippet"></textarea>
              <label for="code" class="form-label">Code</label>
            </div>

            <div class="row mb-5 mt-3">
              <div class="col">
                <div class="form-floating">
                  <input id="author" th:value="${author}" class="form-control" type="text" placeholder="Author" disabled>
                  <label for="author" class="form-label">Author</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating">
                  <input id="time" th:field="*{timeLimit}" class="form-control" type="number" placeholder="Time limit (minutes)">
                  <label for="time" class="form-label">Time limit (minutes)</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating">
                  <input id="views" th:field="*{viewLimit}" class="form-control" type="number" placeholder="View limit">
                  <label for="time" class="form-label">View limit</label>
                </div>
              </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Share</button>
          </form>

        </div>
        <div class="col-1"></div>
      </div>
    </div>

    <script th:src="@{'/bootstrap.bundle.min.js'}" src="../static/bootstrap.bundle.min.js"></script>
  </body>
</html>