<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Something went wrong!</title>
  </head>
  <body>
    Something went wrong! :-/

    <div th:utext="'&lt;!--'" th:remove="tag"></div>
    <div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
    <div th:utext="'Exception: ' + ${exception.message}" th:remove="tag">${exception.message}</div>
    <ul th:remove="tag">
      <li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span
          th:utext="${ste}" th:remove="tag">${ste}</span></li>
    </ul>
    <div th:utext="'--&gt;'" th:remove="tag"></div>
  </body>
</html>