<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Code Sharing Platform</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{'/style.css'}" href="../static/style.css">
  <link rel="stylesheet" th:href="@{'/bootstrap.min.css'}" href="../static/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{'/icons/bootstrap-icons.css'}" href="../static/icons/bootstrap-icons.css">

</head>
<body>
  <h1>Welcome to the Code Sharing Platform</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis magna vel leo tempus vehicula.
    In condimentum cursus diam, mollis interdum sem posuere nec. Proin tristique dolor nec massa hendrerit lacinia.
    Vestibulum dictum consequat urna vel dictum. Morbi tortor ligula, placerat eu fermentum ullamcorper, egestas
    quis lectus. Cras gravida posuere tristique. Nunc luctus, nibh et interdum pretium, orci ipsum dapibus ipsum,
    eu ultrices eros ipsum id quam. Praesent interdum tempor purus eu rutrum.</p>

  <p>Vivamus id blandit purus, sed bibendum nunc. Sed aliquam metus a lacus lacinia, ut cursus tortor dictum.
    Aliquam tincidunt felis vitae malesuada ultrices. Aenean ultricies, nulla quis dapibus aliquam, lorem urna
    ultricies augue, vitae hendrerit magna massa a neque. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Mauris pellentesque justo a enim semper, a faucibus enim pretium. Nullam
    tincidunt aliquet lacinia. Etiam id facilisis mi. Cras hendrerit eu lacus sit amet egestas. Sed porta viverra
    nibh vitae suscipit. Ut sed fringilla turpis. Praesent quis purus dui. Quisque vitae orci sed diam ultricies
    euismod. In hac habitasse platea dictumst.</p>

  <p>Vivamus ultricies tortor tellus, ac tincidunt augue consectetur eget. Aenean efficitur maximus hendrerit.
    Praesent placerat a purus nec consequat. Aenean id odio sit amet est egestas varius ut vel arcu. Duis ut lacus
    cursus urna interdum feugiat. Sed sit amet lacus vehicula, laoreet libero at, suscipit mi. Suspendisse quis
    malesuada sapien. Ut ultrices arcu eu urna imperdiet, in condimentum diam sodales. Nunc et turpis eleifend,
    dapibus erat et, pretium elit. Vivamus mollis, nisl a ultrices ultrices, ex leo suscipit massa, et suscipit
    felis mauris in dui. Nulla ornare blandit nulla vel sollicitudin. Aliquam sit amet laoreet velit. Curabitur
    diam lacus, euismod id maximus at, commodo id dui. Nulla in posuere ante, sed euismod felis.</p>

  <script th:src="@{'/bootstrap.bundle.min.js'}" src="../static/bootstrap.bundle.min.js"></script>
</body>
</html>