<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Latest snippets | Code Sharing Platform</title>
    <link
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css"
        rel="stylesheet">
    <script
        src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <div th:each="snippet : ${latestTenSnippets}">
      <p><span th:id="'load_date_' + ${snippetStat.count}" th:text="${snippet.date}"></span></p>
      <pre th:id="'code_snippet_' + ${snippetStat.count}"><code th:text="${snippet.code}"></code></pre>
      <br>
    </div>
  </body>
</html>