<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Snippet | Code Sharing Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{'/style.css'}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{'/bootstrap.min.css'}" href="../static/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{'/icons/bootstrap-icons.css'}" href="../static/icons/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{'/highlight-styles/kimbie-dark.min.css'}" href="../static/highlight-styles/kimbie-dark.min.css">
    
    <script th:src="@{'/highlight.min.js'}" src="../static/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
      <p th:if="${snippet.date}">
        <span id="load_date" th:text="${snippet.date}"></span>
      </p>
      <p th:if="${snippet.isRestrictedByViews()}">
        <span id="views_restriction" th:text="${snippet.views} + ' more views allowed'"></span>
      </p>
      <p th:if="${snippet.isRestrictedByTime()}">
        <span id="time_restriction" th:text="'The code will be available for ' + ${snippet.time} + ' seconds'"></span>
      </p>
      <p th:if="${snippet.code}">
        <pre id="code_snippet"><code th:text="${snippet.code}"></code></pre>
      </p>
      
      <script th:src="@{'/bootstrap.bundle.min.js'}" src="../static/bootstrap.bundle.min.js"></script>
    </body>
</html>