<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Snippet | Code Sharing Platform</title>
    <link
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css"
        rel="stylesheet">
    <script
        src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
      <p th:if="${snippet.date}">
        <span id="load_date" th:text="${snippet.date}"></span>
      </p>
      <p th:if="${snippet.isRestrictedByViews()}">
        <span id="views_restriction" th:text="${snippet.views} + ' more views allowed'"></span>
      </p>
      <p th:if="${snippet.isRestrictedByTime()}">
        <span id="time_restriction" th:text="'The code will be available for ' + ${snippet.time} + ' seconds'"></span>
      </p>
      <p th:if="${snippet.code}">
        <pre id="code_snippet"><code th:text="${snippet.code}"></code></pre>
      </p>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>