<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snippet Actions</title>
</head>
<body>


  <div class="snippetInfo" th:fragment="snippetInfoButton (author, snippet, nrOnPage)">
    <button type="button" class="btn btn-dark dropdown-toggle" th:id="'infoDropdownButton_' + ${nrOnPage}" id="infoDropdownButton" data-bs-toggle="dropdown" aria-expanded="false" title="Show code snippet info">
      <i class="bi bi-info-lg"></i>
    </button>

    <ul class="dropdown-menu dropdown-menu-dark" th:aria-labelledby="'infoDropdownButton_' + ${nrOnPage}" aria-labelledby="infoDropdownButton">
      <li>
        <h6 class="dropdown-header">
          Author
        </h6>
      </li>

      <li>
        <button type="button" class="dropdown-item text-primary" th:title="'Author: ' + ${author.name}" title="Author: Szabó László András">
          <i class="bi bi-person-fill"></i> <span th:text="${author.name}">Szabó László András</span>
        </button>
      </li>

      <li th:if="${author.personal} and ${author.personal} != ''">
        <a th:href="@{${author.personal}}" href="https://zza.hu" target="_blank" class="dropdown-item text-primary" title="Personal site">
          <i class="bi bi-layout-text-sidebar-reverse"></i> Personal site: <span th:text="@{${author.personal}}">https://zza.hu</span>
        </a>
      </li>

      <li th:if="${author.github} and ${author.github} != ''">
        <a th:href="@{${author.github}}" href="https://zza.hu/GitHub" target="_blank" class="dropdown-item text-primary" title="GitHub profile">
          <i class="bi bi-github"></i> Projects on GitHub
        </a>
      </li>

      <li th:if="${author.linkedin} and ${author.linkedin} != ''">
        <a th:href="@{${author.linkedin}}" href="https://zza.hu/LinkedIn" target="_blank" class="dropdown-item text-primary" title="LinkedIn profile">
          <i class="bi bi-linkedin"></i> LinkedIn profile
        </a>
      </li>


      <li>
        <hr class="dropdown-divider">
        <h6 class="dropdown-header">
          Statistics
        </h6>
      </li>

      <li>
        <button type="button" class="dropdown-item text-secondary font-monospace" th:title="'Views: ' + ${snippet.viewCount}" title="Views: 237">
          <i class="bi bi-eye-fill"></i> <span th:text="${snippet.viewCount}">237</span>
        </button>
      </li>

      <li>
        <button type="button" class="dropdown-item text-secondary font-monospace" th:title="'Posted: ' + ${snippet.date}" title="Posted: 2020/02/02 20:20:20">
          <i class="bi bi-calendar3"></i> <span th:text="${snippet.date}">2020/02/02 20:20:20</span>
        </button>
      </li>


      <li th:if="${snippet.isRestrictedByViews() or snippet.isRestrictedByTime()}">
        <hr class="dropdown-divider">
        <h6 class="dropdown-header">
          Limits
        </h6>
      </li>

      <li th:if="${snippet.isRestrictedByViews()}">
        <button type="button" class="dropdown-item text-danger font-monospace" th:title="'View limit: ' + ${snippet.viewLimit}" title="View limit: 300">
          <i class="bi bi-eye-slash-fill"></i> <span th:text="${snippet.viewLimit}">300</span>
        </button>
      </li>

      <li th:if="${snippet.isRestrictedByTime()}">
        <button type="button" class="dropdown-item text-danger font-monospace" th:title="'Expiry: ' + ${snippet.expiryDate}"  title="Expiry: 2020/02/02 22:22:22">
          <i class="bi bi-calendar-x"></i> <span th:text="${snippet.expiryDate}">2020/02/02 22:22:22</span>
        </button>
      </li>
    </ul>
  </div>


  <div class="snippetAction" th:fragment="snippetActionButtons (author, snippet, nrOnPage)">
    <button type="button" class="btn btn-dark dropdown-toggle" th:id="'actionDropdownButton_' + ${nrOnPage}" id="actionDropdownButton" data-bs-toggle="dropdown" aria-expanded="false" title="Show code snippet actions">
      <i class="bi bi-three-dots"></i>
    </button>

    <ul class="dropdown-menu dropdown-menu-dark" th:aria-labelledby="'actionDropdownButton_' + ${nrOnPage}" aria-labelledby="actionDropdownButton">
      <li>
        <button type="button" class="dropdown-item text-primary" title="Copy link">
          <i class="bi bi-link-45deg"></i>
        </button>
      </li>

      <li>
        <button type="button" class="dropdown-item text-primary" title="Copy to clipboard">
          <i class="bi bi-clipboard"></i>
        </button>
      </li>

      <li>
        <button type="button" class="dropdown-item text-primary" title="Show comments">
          <i class="bi bi-chat-text"></i>
        </button>
      </li>

      <li>
        <button type="button" class="dropdown-item text-success" title="Upvote">
          <i class="bi bi-caret-up-fill"></i>
        </button>
      </li>

      <li>
        <button type="button" class="dropdown-item text-danger" title="Downvote">
          <i class="bi bi-caret-down-fill"></i>
        </button>
      </li>

      <li>
        <button type="button" class="dropdown-item text-warning" title="Report a bug">
          <i class="bi bi-bug-fill"></i>
        </button>
      </li>
    </ul>
  </div>

</body>
</html>